*{
    margin: 0px;
    text-decoration: none;
    align-self: center;
}
h1{
    background-color: magenta;
    margin: 50px;
    text-align: center;
}
.menu{
    background-color: aqua;
    width: 70%;
    margin: 0 auto;
}
.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#avoid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    width: 70%;
}
#avoid aside{
    margin: 10px;
    border: 1px solid black;
    height: 65vh;      
}
#avoid aside button{
    background-color: maroon;
    border-radius: 100px;
    color: white;
    margin-top: 10px;
    text-align: center;
    transition: 1s;
    width: 100%;
}
#avoid aside button:hover{
    background-color: red;
}
#avoid section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#avoid section article{
    background: lightblue;
    border: 1px solid blue;
    border-radius: 10px;
    height: 20vh;
    margin: 10px;
    
}
footer{
    border: blueviolet 1px solid;
    margin: 0 auto;
    margin-top: 2%;
    width: 70%;
    text-align: center;;
}

@keyframes spin{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
#avoid aside img{
    animation: beat 4s infinite;
    border-radius: 50%;
}

@keyframes beat{
    0%{
        transform: scale(0.95);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@media(max-width: 768px){
    h1{
        background-color: red;
    }
}
@media(max-width: 576px){
    h1{
        background-color: green;
    }
}